<div id="keys">
  <button class="toggle" id="keys-toggle" aria-expanded="true">Keys</button>
  <dl>
    <dt>/</dt><dd>search</dd>
    <dt>j k</dt><dd>move</dd>
    <dt>&#8629;</dt><dd>open</dd>
    <dt>t</dt><dd>topics</dd>
    <dt>g h</dt><dd>home</dd>
    <dt>?</dt><dd>hide</dd>
  </dl>
</div>
