---
permalink: /blog/index.html
eleventyExcludeFromCollections: true
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Writing · Savva Pistolas</title>
<link rel="canonical" href="{{ site.url }}/">
<meta http-equiv="refresh" content="0; url=/">
<meta name="robots" content="noindex">
</head>
<body>
<p>All writing now lives at <a href="/">{{ site.url }}/</a>.</p>
</body>
</html>
