---
layout: base
---
{% set tagged = collections.posts | byTag(tag) %}

<div class="page-hd">
  <h1>{{ tag }}</h1>
  <p>{{ tagged | length }} post{% if tagged.length != 1 %}s{% endif %} tagged <em>{{ tag }}</em>. <a href="/feeds/tags/{{ tag }}/feed.xml">Subscribe to this topic</a>.</p>
</div>

{% set activeTag = tag %}
{% include "partials/topic-nav.njk" %}

<div class="index">
  {%- for post in tagged %}
  {% include "partials/post-item.njk" %}
  {%- endfor %}
</div>
